#conf_files/nvim/.config/nvim/plugin/packer_compiled.lua
**/packer_compiled.lua
flake.lock
result
.mypy_cache
.vscode
*.core
*.log
**/history.txt

# lazyvim
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# nvchad
plugin
custom
spell
ftplugin
coc-settings.json
.luarc.json
lazy-lock.json

# nushell
history.txt
conf_files/nushell/.config/nushell/history.txt
