layout {
	tab name="coding" focus=true {
		pane split_direction="vertical" {
			pane {
				name "editor"
				size "70%"
				command "hx"
				args "."
			}
			pane split_direction="horizontal" size="30%" {
				pane {
					name "cargo"
				}
				pane {
					name "npm"
				}
			}
		}
	}
	tab name="git" {
		pane {
			command "lazygit"
		}
	}
	// pane size=3
}
