[user]
	name = lukakon
	email = lukasz.konieczny.lk@protonmail.com
[core]
	editor = hx
[safe]
	directory = /mnt/dev/rust/todo_react
	directory = /mnt/dev/party_creator
	directory = /home/lk/nix_conf/.git
	directory = /mnt/conf/nix_conf
	directory = /mnt/conf/nix_conf/.git
	directory = /mnt/export/dev/rust/todo_react
	directory = /mnt/dev/party_creator/.git
	directory = /mnt/export/dev/party_creator
	directory = /mnt/export/dev/taxi-react-app
	directory = /mnt/dev/photo
	directory = /mnt/export/dev/photo
	directory = /mnt/dev/photo/.git
	directory = /mnt/conf/configs
	directory = /mnt/conf/nix_conf/.git
	directory = /mnt/export/configs
	directory = /mnt/export/dev/qmk_firm
	directory = /mnt/dev/rust/yewdux_start
	directory = /mnt/dev/rust/yew_style
	directory = /mnt/dev/rust/yew/yew_style
	directory = /mnt/dev/rust/yew/yew_callback
	directory = /mnt/dev/rust/yew/yew_forms
	directory = /code/phot
	directory = /code/photo
	directory = /mnt/dev/rust/yew/yew_context_hook
	directory = /mnt/dev/rust/yew/yew_use_effect_hook
	directory = /mnt/dev/rust/yew/yew_router
	directory = /mnt/dev/rust/yew/yewdux
	directory = /mnt/dev/rust/yew/yew_yewdux
	directory = /code/rust/dep_test
	directory = /mnt/coding/photo
	directory = /mnt/dev/LaTeX/CV
	directory = /var/mnt/coding/ai
	directory = /var/mnt/dev/ansible/
	directory = /var/mnt/code/photo
	directory = /var/mnt/code/ansible
	directory = /var/mnt/code/python/3dgeo
[credential]
	helper = store
