autoboot="true"
brand="bhyve"
zonename="aur"
zonepath="/zones/aur"

cdrom="/trunk/iso/aurora-dx-stable.iso"

ram="5G"
vcpus="3"

dns-domain="home.lan"
resolvers=[
  "192.168.1.104",
  "1.1.1.1",
  "9.9.9.9",
]

acpi="on"
xhci="on"
bootorder="cd"
ip-type="exclusive"
limitpriv="default"

[capped-memory]
# should match global "ram" key above
physical="4G"
swap="4G"

[[net]]
global-nic="e1000g0"
physical="aur0"
allowed-address="192.168.1.82/24"
defrouter="192.168.1.1"

[bootdisk]
blocksize="8K"
path="tank/vm/aur/root"
size="80G"
sparse="false"

[vnc]
enabled="on"
# unix="/tmp/vm.vnc"
w=1920
h=1080
