autoboot="true"
brand="bhyve"
zonename="freebsd"
zonepath="/zones/freebsd"

cdrom="/trunk/iso/FreeBSD-14.3-RELEASE-amd64-dvd1.iso"

ram="2G"
vcpus="2"

dns-domain="home.lan"
resolvers=[
  "192.168.1.104",
  "1.1.1.1",
  "9.9.9.9",
]

acpi="on"
xhci="on"
bootorder="cd"
ip-type="exclusive"
limitpriv="default"

[capped-memory]
# should match global "ram" key above
physical="2G"
swap="2G"

[[net]]
global-nic="e1000g0"
physical="freebsd0"
allowed-address="192.168.1.83/24"
defrouter="192.168.1.1"

[bootdisk]
blocksize="8K"
path="tank/vm/freebsd/root"
size="30G"
sparse="true"

[[disk]]
blocksize="8K"
path="tank/vm_vol/freebsd"
size="30G"
sparse="true"

[vnc]
enabled="on"
